new/files_result4_individual_graphics/ENDURANCE/250315-182326-nurburgring-ENDURANCE_Q.png
new/files_result4_individual_graphics/ENDURANCE/250315-212940-nurburgring-ENDURANCE.png
new/files_result4_individual_graphics/GT4 S1/250209-211813-red_bull_ring-GT4 S1_Q.png
new/files_result4_individual_graphics/GT4 S1/250209-221129-red_bull_ring-GT4 S1_beforePenalties.png
new/files_result4_individual_graphics/GT4 S1/250209-221129-red_bull_ring-GT4 S1.png
new/files_result4_individual_graphics/GT4 S1/250223-211839-valencia-GT4 S1_Q.png
new/files_result4_individual_graphics/GT4 S1/250223-221115-valencia-GT4 S1_beforePenalties.png
new/files_result4_individual_graphics/GT4 S1/250223-221115-valencia-GT4 S1.png
new/files_result4_individual_graphics/GT4 S1/250309-211734-donington-GT4 S1_Q.png
new/files_result4_individual_graphics/GT4 S1/250309-221006-donington-GT4 S1_beforePenalties.png
new/files_result4_individual_graphics/GT4 S1/250309-221006-donington-GT4 S1.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250216-201829-kyalami-SUPER TROFEO S1_Q.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250216-210859-kyalami-SUPER TROFEO S1_beforePenalties.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250216-210859-kyalami-SUPER TROFEO S1.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250302-211855-zandvoort-SUPER TROFEO S1_Q.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250302-220838-zandvoort-SUPER TROFEO S1_beforePenalties.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250302-220838-zandvoort-SUPER TROFEO S1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250212-212028-suzuka-WEEK LEAGUE S4_Q.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250212-214542-suzuka-WEEK LEAGUE S4 R1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250212-214542-suzuka-WEEK LEAGUE S4 R1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250212-221649-suzuka-WEEK LEAGUE S4 R2_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250212-221649-suzuka-WEEK LEAGUE S4 R2.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250220-211953-silverstone-WEEK LEAGUE S4_Q.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250220-214627-silverstone-WEEK LEAGUE S4 R1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250220-214627-silverstone-WEEK LEAGUE S4 R1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250220-221445-silverstone-WEEK LEAGUE S4 R2_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250220-221445-silverstone-WEEK LEAGUE S4 R2.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250226-211857-monza-WEEK LEAGUE S4_Q.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250226-214522-monza-WEEK LEAGUE S4 R1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250226-214522-monza-WEEK LEAGUE S4 R1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250226-221607-monza-WEEK LEAGUE S4 R2_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250226-221607-monza-WEEK LEAGUE S4 R2.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250305-211715-brands_hatch-WEEK LEAGUE S4_Q.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250305-214243-brands_hatch-WEEK LEAGUE S4 R1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250305-214243-brands_hatch-WEEK LEAGUE S4 R1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250305-221432-brands_hatch-WEEK LEAGUE S4 R2_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250305-221432-brands_hatch-WEEK LEAGUE S4 R2.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250312-211922-nurburgring-WEEK LEAGUE S4_Q.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250312-214526-nurburgring-WEEK LEAGUE S4 R1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250312-214526-nurburgring-WEEK LEAGUE S4 R1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250312-221735-nurburgring-WEEK LEAGUE S4 R2_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250312-221735-nurburgring-WEEK LEAGUE S4 R2.png
new/files_results_phase_1/ENDURANCE/250315-182326-nurburgring-ENDURANCE_Q.csv
new/files_results_phase_1/ENDURANCE/250315-212940-nurburgring-ENDURANCE.csv
new/files_results_phase_1/ENDURANCE/ENDURANCE_GC.csv
new/files_results_phase_1/ENDURANCE/ENDURANCE_GC.png
new/files_results_phase_1/GT4 S1/250209-211813-red_bull_ring-GT4 S1_Q.csv
new/files_results_phase_1/GT4 S1/250209-221129-red_bull_ring-GT4 S1_beforePenalties.csv
new/files_results_phase_1/GT4 S1/250209-221129-red_bull_ring-GT4 S1.csv
new/files_results_phase_1/GT4 S1/250223-211839-valencia-GT4 S1_Q.csv
new/files_results_phase_1/GT4 S1/250223-221115-valencia-GT4 S1_beforePenalties.csv
new/files_results_phase_1/GT4 S1/250223-221115-valencia-GT4 S1.csv
new/files_results_phase_1/GT4 S1/250309-211734-donington-GT4 S1_Q.csv
new/files_results_phase_1/GT4 S1/250309-221006-donington-GT4 S1_beforePenalties.csv
new/files_results_phase_1/GT4 S1/250309-221006-donington-GT4 S1.csv
new/files_results_phase_1/GT4 S1/GT4 S1_GC.csv
new/files_results_phase_1/GT4 S1/GT4 S1_GC.png
new/files_results_phase_1/SUPER TROFEO S1/250216-201829-kyalami-SUPER TROFEO S1_Q.csv
new/files_results_phase_1/SUPER TROFEO S1/250216-210859-kyalami-SUPER TROFEO S1_beforePenalties.csv
new/files_results_phase_1/SUPER TROFEO S1/250216-210859-kyalami-SUPER TROFEO S1.csv
new/files_results_phase_1/SUPER TROFEO S1/250302-211855-zandvoort-SUPER TROFEO S1_Q.csv
new/files_results_phase_1/SUPER TROFEO S1/250302-220838-zandvoort-SUPER TROFEO S1_beforePenalties.csv
new/files_results_phase_1/SUPER TROFEO S1/250302-220838-zandvoort-SUPER TROFEO S1.csv
new/files_results_phase_1/SUPER TROFEO S1/SUPER TROFEO S1_GC.csv
new/files_results_phase_1/SUPER TROFEO S1/SUPER TROFEO S1_GC.png
new/files_results_phase_1/WEEK LEAGUE S4/250212-212028-suzuka-WEEK LEAGUE S4_Q.csv
new/files_results_phase_1/WEEK LEAGUE S4/250212-214542-suzuka-WEEK LEAGUE S4 R1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250212-214542-suzuka-WEEK LEAGUE S4 R1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250212-221649-suzuka-WEEK LEAGUE S4 R2_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250212-221649-suzuka-WEEK LEAGUE S4 R2.csv
new/files_results_phase_1/WEEK LEAGUE S4/250220-211953-silverstone-WEEK LEAGUE S4_Q.csv
new/files_results_phase_1/WEEK LEAGUE S4/250220-214627-silverstone-WEEK LEAGUE S4 R1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250220-214627-silverstone-WEEK LEAGUE S4 R1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250220-221445-silverstone-WEEK LEAGUE S4 R2_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250220-221445-silverstone-WEEK LEAGUE S4 R2.csv
new/files_results_phase_1/WEEK LEAGUE S4/250226-211857-monza-WEEK LEAGUE S4_Q.csv
new/files_results_phase_1/WEEK LEAGUE S4/250226-214522-monza-WEEK LEAGUE S4 R1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250226-214522-monza-WEEK LEAGUE S4 R1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250226-221607-monza-WEEK LEAGUE S4 R2_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250226-221607-monza-WEEK LEAGUE S4 R2.csv
new/files_results_phase_1/WEEK LEAGUE S4/250305-211715-brands_hatch-WEEK LEAGUE S4_Q.csv
new/files_results_phase_1/WEEK LEAGUE S4/250305-214243-brands_hatch-WEEK LEAGUE S4 R1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250305-214243-brands_hatch-WEEK LEAGUE S4 R1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250305-221432-brands_hatch-WEEK LEAGUE S4 R2_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250305-221432-brands_hatch-WEEK LEAGUE S4 R2.csv
new/files_results_phase_1/WEEK LEAGUE S4/250312-211922-nurburgring-WEEK LEAGUE S4_Q.csv
new/files_results_phase_1/WEEK LEAGUE S4/250312-214526-nurburgring-WEEK LEAGUE S4 R1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250312-214526-nurburgring-WEEK LEAGUE S4 R1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250312-221735-nurburgring-WEEK LEAGUE S4 R2_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250312-221735-nurburgring-WEEK LEAGUE S4 R2.csv
new/files_results_phase_1/WEEK LEAGUE S4/WEEK LEAGUE S4_GC.csv
new/files_results_phase_1/WEEK LEAGUE S4/WEEK LEAGUE S4_GC.png
new/ftp/__pycache__/ftp.cpython-313.pyc
new/graphic_files/cars/.DS_Store
new/process_results_phase1/__pycache__/process_file_from_ftp.cpython-313.pyc
new/process_results_phase2_penalties_apply/__pycache__/penalties_apply.cpython-313.pyc
new/process_results_phase2_penalties_apply/__pycache__/penalties_apply2.cpython-313.pyc
new/process_results_phase3_general_classification/__pycache__/process_GC_phase1_2.cpython-313.pyc
new/process_results_phase3_general_classification/__pycache__/process_GC_phase1.cpython-313.pyc
new/process_results_phase4_graphics/__pycache__/generate_graphic_gc.cpython-313.pyc
new/process_results_phase4_graphics/__pycache__/generate_graphic.cpython-313.pyc
new/process_results_phase4_graphics/__pycache__/generate_graphic2.cpython-313.pyc
new/results/ENDURANCE/csv/250315-182326-nurburgring-ENDURANCE_Q.csv
new/results/ENDURANCE/csv/250315-212940-nurburgring-ENDURANCE.csv
new/results/ENDURANCE/csv/ENDURANCE_GC.csv
new/results/ENDURANCE/png/250315-182326-nurburgring-ENDURANCE_Q.png
new/results/ENDURANCE/png/250315-212940-nurburgring-ENDURANCE.png
new/results/ENDURANCE/png/ENDURANCE_GC.png
new/results/GT4 S1/csv/250209-211813-red_bull_ring-GT4 S1_Q.csv
new/results/GT4 S1/csv/250209-221129-red_bull_ring-GT4 S1_beforePenalties.csv
new/results/GT4 S1/csv/250209-221129-red_bull_ring-GT4 S1.csv
new/results/GT4 S1/csv/250223-211839-valencia-GT4 S1_Q.csv
new/results/GT4 S1/csv/250223-221115-valencia-GT4 S1_beforePenalties.csv
new/results/GT4 S1/csv/250223-221115-valencia-GT4 S1.csv
new/results/GT4 S1/csv/250309-211734-donington-GT4 S1_Q.csv
new/results/GT4 S1/csv/250309-221006-donington-GT4 S1_beforePenalties.csv
new/results/GT4 S1/csv/250309-221006-donington-GT4 S1.csv
new/results/GT4 S1/csv/GT4 S1_GC.csv
new/results/GT4 S1/png/250209-211813-red_bull_ring-GT4 S1_Q.png
new/results/GT4 S1/png/250209-221129-red_bull_ring-GT4 S1_beforePenalties.png
new/results/GT4 S1/png/250209-221129-red_bull_ring-GT4 S1.png
new/results/GT4 S1/png/250223-211839-valencia-GT4 S1_Q.png
new/results/GT4 S1/png/250223-221115-valencia-GT4 S1_beforePenalties.png
new/results/GT4 S1/png/250223-221115-valencia-GT4 S1.png
new/results/GT4 S1/png/250309-211734-donington-GT4 S1_Q.png
new/results/GT4 S1/png/250309-221006-donington-GT4 S1_beforePenalties.png
new/results/GT4 S1/png/250309-221006-donington-GT4 S1.png
new/results/GT4 S1/png/GT4 S1_GC.png
new/results/SUPER TROFEO S1/csv/250216-201829-kyalami-SUPER TROFEO S1_Q.csv
new/results/SUPER TROFEO S1/csv/250216-210859-kyalami-SUPER TROFEO S1_beforePenalties.csv
new/results/SUPER TROFEO S1/csv/250216-210859-kyalami-SUPER TROFEO S1.csv
new/results/SUPER TROFEO S1/csv/250302-211855-zandvoort-SUPER TROFEO S1_Q.csv
new/results/SUPER TROFEO S1/csv/250302-220838-zandvoort-SUPER TROFEO S1_beforePenalties.csv
new/results/SUPER TROFEO S1/csv/250302-220838-zandvoort-SUPER TROFEO S1.csv
new/results/SUPER TROFEO S1/csv/SUPER TROFEO S1_GC.csv
new/results/SUPER TROFEO S1/png/250216-201829-kyalami-SUPER TROFEO S1_Q.png
new/results/SUPER TROFEO S1/png/250216-210859-kyalami-SUPER TROFEO S1_beforePenalties.png
new/results/SUPER TROFEO S1/png/250216-210859-kyalami-SUPER TROFEO S1.png
new/results/SUPER TROFEO S1/png/250302-211855-zandvoort-SUPER TROFEO S1_Q.png
new/results/SUPER TROFEO S1/png/250302-220838-zandvoort-SUPER TROFEO S1_beforePenalties.png
new/results/SUPER TROFEO S1/png/250302-220838-zandvoort-SUPER TROFEO S1.png
new/results/SUPER TROFEO S1/png/SUPER TROFEO S1_GC.png
new/results/WEEK LEAGUE S4/csv/250212-212028-suzuka-WEEK LEAGUE S4_Q.csv
new/results/WEEK LEAGUE S4/csv/250212-214542-suzuka-WEEK LEAGUE S4 R1_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250212-214542-suzuka-WEEK LEAGUE S4 R1.csv
new/results/WEEK LEAGUE S4/csv/250212-221649-suzuka-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250212-221649-suzuka-WEEK LEAGUE S4 R2.csv
new/results/WEEK LEAGUE S4/csv/250220-211953-silverstone-WEEK LEAGUE S4_Q.csv
new/results/WEEK LEAGUE S4/csv/250220-214627-silverstone-WEEK LEAGUE S4 R1_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250220-214627-silverstone-WEEK LEAGUE S4 R1.csv
new/results/WEEK LEAGUE S4/csv/250220-221445-silverstone-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250220-221445-silverstone-WEEK LEAGUE S4 R2.csv
new/results/WEEK LEAGUE S4/csv/250226-211857-monza-WEEK LEAGUE S4_Q.csv
new/results/WEEK LEAGUE S4/csv/250226-214522-monza-WEEK LEAGUE S4 R1_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250226-214522-monza-WEEK LEAGUE S4 R1.csv
new/results/WEEK LEAGUE S4/csv/250226-221607-monza-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250226-221607-monza-WEEK LEAGUE S4 R2.csv
new/results/WEEK LEAGUE S4/csv/250305-211715-brands_hatch-WEEK LEAGUE S4_Q.csv
new/results/WEEK LEAGUE S4/csv/250305-214243-brands_hatch-WEEK LEAGUE S4 R1_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250305-214243-brands_hatch-WEEK LEAGUE S4 R1.csv
new/results/WEEK LEAGUE S4/csv/250305-221432-brands_hatch-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250305-221432-brands_hatch-WEEK LEAGUE S4 R2.csv
new/results/WEEK LEAGUE S4/csv/250312-211922-nurburgring-WEEK LEAGUE S4_Q.csv
new/results/WEEK LEAGUE S4/csv/250312-214526-nurburgring-WEEK LEAGUE S4 R1_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250312-214526-nurburgring-WEEK LEAGUE S4 R1.csv
new/results/WEEK LEAGUE S4/csv/250312-221735-nurburgring-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250312-221735-nurburgring-WEEK LEAGUE S4 R2.csv
new/results/WEEK LEAGUE S4/csv/WEEK LEAGUE S4_GC.csv
new/results/WEEK LEAGUE S4/png/250212-212028-suzuka-WEEK LEAGUE S4_Q.png
new/results/WEEK LEAGUE S4/png/250212-214542-suzuka-WEEK LEAGUE S4 R1_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250212-214542-suzuka-WEEK LEAGUE S4 R1.png
new/results/WEEK LEAGUE S4/png/250212-221649-suzuka-WEEK LEAGUE S4 R2_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250212-221649-suzuka-WEEK LEAGUE S4 R2.png
new/results/WEEK LEAGUE S4/png/250220-211953-silverstone-WEEK LEAGUE S4_Q.png
new/results/WEEK LEAGUE S4/png/250220-214627-silverstone-WEEK LEAGUE S4 R1_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250220-214627-silverstone-WEEK LEAGUE S4 R1.png
new/results/WEEK LEAGUE S4/png/250220-221445-silverstone-WEEK LEAGUE S4 R2_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250220-221445-silverstone-WEEK LEAGUE S4 R2.png
new/results/WEEK LEAGUE S4/png/250226-211857-monza-WEEK LEAGUE S4_Q.png
new/results/WEEK LEAGUE S4/png/250226-214522-monza-WEEK LEAGUE S4 R1_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250226-214522-monza-WEEK LEAGUE S4 R1.png
new/results/WEEK LEAGUE S4/png/250226-221607-monza-WEEK LEAGUE S4 R2_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250226-221607-monza-WEEK LEAGUE S4 R2.png
new/results/WEEK LEAGUE S4/png/250305-211715-brands_hatch-WEEK LEAGUE S4_Q.png
new/results/WEEK LEAGUE S4/png/250305-214243-brands_hatch-WEEK LEAGUE S4 R1_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250305-214243-brands_hatch-WEEK LEAGUE S4 R1.png
new/results/WEEK LEAGUE S4/png/250305-221432-brands_hatch-WEEK LEAGUE S4 R2_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250305-221432-brands_hatch-WEEK LEAGUE S4 R2.png
new/results/WEEK LEAGUE S4/png/250312-211922-nurburgring-WEEK LEAGUE S4_Q.png
new/results/WEEK LEAGUE S4/png/250312-214526-nurburgring-WEEK LEAGUE S4 R1_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250312-214526-nurburgring-WEEK LEAGUE S4 R1.png
new/results/WEEK LEAGUE S4/png/250312-221735-nurburgring-WEEK LEAGUE S4 R2_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250312-221735-nurburgring-WEEK LEAGUE S4 R2.png
new/results/WEEK LEAGUE S4/png/WEEK LEAGUE S4_GC.png
new/utils_entities/__pycache__/constants.cpython-313.pyc
new/utils_entities/__pycache__/entities.cpython-313.pyc
new/utils_entities/__pycache__/track_data.cpython-313.pyc
new/utils_entities/__pycache__/utilities.cpython-313.pyc
new/files_result4_individual_graphics/SUPER TROFEO/250316-211650-mount_panorama-SUPER TROFEO_Q.png
new/files_result4_individual_graphics/SUPER TROFEO/250316-220843-mount_panorama-SUPER TROFEO.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250320-202147-mount_panorama-SUPER TROFEO S1_Q.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250320-211126-mount_panorama-SUPER TROFEO S1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250319-211937-spa-WEEK LEAGUE S4_Q.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250319-214529-spa-WEEK LEAGUE S4 R1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250319-214529-spa-WEEK LEAGUE S4 R1.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250319-221616-spa-WEEK LEAGUE S4 R2.png
new/files_results_phase_1/csv/csv_GC.csv
new/files_results_phase_1/png/png_GC.csv
new/files_results_phase_1/png/png_GC.png
new/files_results_phase_1/SUPER TROFEO/250316-211650-mount_panorama-SUPER TROFEO_Q.csv
new/files_results_phase_1/SUPER TROFEO/250316-220843-mount_panorama-SUPER TROFEO.csv
new/files_results_phase_1/SUPER TROFEO/SUPER TROFEO_GC.csv
new/files_results_phase_1/SUPER TROFEO/SUPER TROFEO_GC.png
new/files_results_phase_1/SUPER TROFEO S1/250320-202147-mount_panorama-SUPER TROFEO S1_Q.csv
new/files_results_phase_1/SUPER TROFEO S1/250320-211126-mount_panorama-SUPER TROFEO S1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250319-211937-spa-WEEK LEAGUE S4_Q.csv
new/files_results_phase_1/WEEK LEAGUE S4/250319-214529-spa-WEEK LEAGUE S4 R1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250319-214529-spa-WEEK LEAGUE S4 R1.csv
new/files_results_phase_1/WEEK LEAGUE S4/250319-221616-spa-WEEK LEAGUE S4 R2.csv
new/ftp/ftpDetails.json
new/results/csv/csv/csv_GC.csv
new/results/GT4 S1/csv/GT4 S1_GC_beforePenalties.csv
new/results/png/csv/png_GC.csv
new/results/png/png/png_GC.png
new/results/SUPER TROFEO/csv/250316-211650-mount_panorama-SUPER TROFEO_Q.csv
new/results/SUPER TROFEO/csv/250316-220843-mount_panorama-SUPER TROFEO.csv
new/results/SUPER TROFEO/csv/SUPER TROFEO_GC.csv
new/results/SUPER TROFEO/png/250316-211650-mount_panorama-SUPER TROFEO_Q.png
new/results/SUPER TROFEO/png/250316-220843-mount_panorama-SUPER TROFEO.png
new/results/SUPER TROFEO/png/SUPER TROFEO_GC.png
new/results/SUPER TROFEO S1/csv/250320-202147-mount_panorama-SUPER TROFEO S1_Q.csv
new/results/SUPER TROFEO S1/csv/250320-211126-mount_panorama-SUPER TROFEO S1.csv
new/results/SUPER TROFEO S1/png/250320-202147-mount_panorama-SUPER TROFEO S1_Q.png
new/results/SUPER TROFEO S1/png/250320-211126-mount_panorama-SUPER TROFEO S1.png
new/results/WEEK LEAGUE S4/csv/250319-211937-spa-WEEK LEAGUE S4_Q.csv
new/results/WEEK LEAGUE S4/csv/250319-214529-spa-WEEK LEAGUE S4 R1_beforePenalties.csv
new/results/WEEK LEAGUE S4/csv/250319-214529-spa-WEEK LEAGUE S4 R1.csv
new/results/WEEK LEAGUE S4/csv/250319-221616-spa-WEEK LEAGUE S4 R2.csv
new/results/WEEK LEAGUE S4/png/250319-211937-spa-WEEK LEAGUE S4_Q.png
new/results/WEEK LEAGUE S4/png/250319-214529-spa-WEEK LEAGUE S4 R1_beforePenalties.png
new/results/WEEK LEAGUE S4/png/250319-214529-spa-WEEK LEAGUE S4 R1.png
new/results/WEEK LEAGUE S4/png/250319-221616-spa-WEEK LEAGUE S4 R2.png
new/process_results_phase1/__pycache__/process_file_from_ftp_2.cpython-313.pyc
new/files_result4_individual_graphics/GT4 S1/250323-211818-watkins_glen-GT4 S1_Q.png
new/files_result4_individual_graphics/GT4 S1/250323-221131-watkins_glen-GT4 S1_beforePenalties.png
new/files_result4_individual_graphics/GT4 S1/250323-221131-watkins_glen-GT4 S1.png
new/files_result4_individual_graphics/SUPER TROFEO S1/250320-211126-mount_panorama-SUPER TROFEO S1_beforePenalties.png
new/files_result4_individual_graphics/WEEK LEAGUE S4/250319-221616-spa-WEEK LEAGUE S4 R2_beforePenalties.png
new/files_results_phase_1/GT4 S1/250323-211818-watkins_glen-GT4 S1_Q.csv
new/files_results_phase_1/GT4 S1/250323-221131-watkins_glen-GT4 S1_beforePenalties.csv
new/files_results_phase_1/GT4 S1/250323-221131-watkins_glen-GT4 S1.csv
new/files_results_phase_1/SUPER TROFEO S1/250320-211126-mount_panorama-SUPER TROFEO S1_beforePenalties.csv
new/files_results_phase_1/WEEK LEAGUE S4/250319-221616-spa-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/csv/results_GC.csv
new/results/png/results_GC.png
new/results/SUPER TROFEO S1/csv/250320-211126-mount_panorama-SUPER TROFEO S1_beforePenalties.csv
new/results/SUPER TROFEO S1/png/250320-211126-mount_panorama-SUPER TROFEO S1_beforePenalties.png
new/results/WEEK LEAGUE S4/csv/250319-221616-spa-WEEK LEAGUE S4 R2_beforePenalties.csv
new/results/WEEK LEAGUE S4/png/250319-221616-spa-WEEK LEAGUE S4 R2_beforePenalties.png
